<!--Footer-->
<footer class="mdl-mini-footer" id="bottom">
    <% if(theme.scheme === 'Paradox') { %>
        <!-- Paradox Footer Left Section -->
        <%- partial('_partial/footer-left') %>

            <!--Copyright-->
            <!--<div id="copyright">
            Copyright&nbsp;©&nbsp;
            <script type="text/javascript">
                var fd = new Date();
                document.write(fd.getFullYear());
            </script>
            &nbsp;<%- config.title %>
        </div>-->
        <div id="copyright">
            <script src="https://cdn.bootcss.com/moment.js/2.17.0/moment.min.js"></script>
            <!-- 一言API https://blog.lwl12.com/read/hitokoto-api.html -->
            <script type="text/javascript" src="https://api.lwl12.com/hitokoto/v1?encode=js&charset=utf-8"></script>
            <div id="time">
                <script>
                    <!--2016年3月24日，我在简书发表第一篇博客：https://www.jianshu.com/p/79a476be02e5 -->
                    var begin = moment([2016, 03, 24]);
                    var now = moment();
                    setInterval(function () { document.getElementById('time').innerHTML = "本站已运行 " + now.diff(begin, 'days') + " 天" + "<br>" + moment().format("YYYY-MM-DD HH:mm:ss"), 1000 })
                </script>
            </div>
            <div id="lwlhitokoto">
                <script>
                    lwlhitokoto()
                </script>
            </div>
        </div>

    <!-- Paradox Footer Right Section -->

        <!--
        I am glad you use this theme, the development is no so easy, I hope you can keep the copyright.
        It will not impact the appearance and can give developers a lot of support :)

        很高兴您使用该主题，开发不易，希望您可以保留一下版权声明。
        它不会影响美观并可以给开发者很大的支持。 :)
        -->

        <div class="mdl-mini-footer--right-section">
            <div>
                <div class="footer-develop-div">Powered by <a href="https://hexo.io" target="_blank" class="footer-develop-a">Hexo</a></div>
                <div class="footer-develop-div">Theme - <a href="https://github.com/viosey/hexo-theme-material" target="_blank" class="footer-develop-a">Material</a></div>
            </div>
        </div>
    <% } %>
</footer>
